<<<<<<< HEAD
{{!--  unordered list of projects that can expand to show the files in that project --}}
<div class="leftSideBar projectContainer">
<div class="container">
{{#each projects}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="projectHeading{{@index}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#projectCollapse{{@index}}" aria-expanded="false" aria-controls="projectCollapse{{@index}}">
        {{name}}
      </button>
    </h2>
    <div id="projectCollapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="projectHeading{{@index}}" data-bs-parent="#projectsAccordion">
      <div class="accordion-body">
        {{> files projectFiles=files}}
      </div>
    </div>
  </div>
{{/each}}
</div>
</div>
<div class="container">
  {{#each files}}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{name}}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
=======
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="outer-container">
        <header class="fixed-top rounded">
            <div class="container py-3 text-center">
              <div class="border rounded p-2">
              <h2>Projects</h2>
            </div>
          </div>
        </header>
      <div class="container mt-5">
        <div class="mb-3" id="projectsAccordion">
          {{#each projects}}
            <div class="accordion-item">
              <h2 class="accordion-header" id="projectHeading{{@index}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#projectCollapse{{@index}}" aria-expanded="false" aria-controls="projectCollapse{{@index}}">
                  {{name}}
                </button>
              </h2>
              <div id="projectCollapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="projectHeading{{@index}}" data-bs-parent="#projectsAccordion">
                <div class="accordion-body">
                  {{> files projectFiles=files}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
>>>>>>> 6867c56f68be15322cc98a0572e4a9f5486b89eb
